.container {
  max-width: 500px;
  margin: 5rem auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 2rem;
}

.centerText {
  text-align: center;
  margin-top: 3rem;
}

/* .logoutButton {
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  cursor: pointer;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 4px;
} */

.title {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
}

.tabContainer {
  display: flex;
  margin: 1rem 0 2.5rem 0;
  width: 80%;
}

.tab {
  flex: 1;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
}

.loginTabActive {
  background-color: #9e2d2d;
  color: white;
  border-radius: 4px 0 0 4px;
  transition: ease 0.2s;
}

.registerTabActive {
  background-color: #9e2d2d;
  color: white;
  border-radius: 0 4px 4px 0;
  transition: ease 0.2s;
}

.loginTabInactive {
  background-color: #f0f0f0;
  color: black;
  border-radius: 4px 0 0 4px;
  transition: ease 0.2s;
}

.registerTabInactive {
  background-color: #f0f0f0;
  color: black;
  border-radius: 0 4px 4px 0;
  transition: ease 0.2s;
}

.inputGroup {
  width: 100%;
}

.input {
  padding: 10px;
  width: 100%;
}
/* 
.button {
  padding: 10px;
  background-color: #9e2d2d;
  color: white;
  border: none;
  border-radius: 4px;
  width: 50%;
  margin-top: 10px;
  cursor: pointer;
} */

.submitBtn {
  padding: 10px;
  background-color: #9e2d2d;
  color: white;
  border: 1px solid #9e2d2d;
  border-radius: 4px;
  width: 50%;
  margin: 0 0 1rem 0;
  cursor: pointer;
  transition: ease 0.2s;
}

.submitBtn:hover {
  border: 1px solid #f3f3f3;
  transition: ease 0.2s;
}

.error {
  position: absolute;
  color: red;
  text-align: center;
  margin-top: 0.35rem;
  font-size: 14px;
}

.success {
  position: absolute;
  color: green;
  text-align: center;
  margin-top: 0.35rem;
  font-size: 14px;
}

.forgotPasswordWrapper {
  text-align: center;
  margin: -0.5rem 0 1rem 0;
}

.link {
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: 0.4s ease;
}

.link:hover {
  color: #9e2d2d;
  transform: scale(1.03);
  transition: 0.2s ease;
}
