.navbar {
    background-color: #ffffff;
    box-shadow: 0px ;
    padding: 0 2rem;
    height: 5rem;
    place-content: center;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* <- la sombra */
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
  }
  
  .logo {
    width: 7rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
  }

  .a {
    color: #9e2d2d;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.2s ease;
  }
  
  .a:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
  
  .profile-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 4rem;
  }
  
  .avatar {
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .avatar:hover {
    color: #9e2d2d;
    transform: scale(1.05);
  }
  
  .dropdown {
    display: none;
    position: absolute;
    right: -3.5rem;
    top: 2.5rem;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 6px;
    width: 9rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .profile-menu:hover .dropdown {
    display: flex;
    flex-direction: column;
  }

  .profile-menu:has(.dropdown:hover) .avatar {
    color: #9e2d2d;
    transform: scale(1.05);
}

  
  .dropdown button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    color: black;
    text-align: center;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: #9e2d2d;
    color: white;
  }