.navbar {
    background-color: #ffffff;
    box-shadow: 0px ;
    padding: 1rem 2rem;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* <- la sombra */
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-height: 3rem;
    height: 4rem;
    margin: auto;
  }
  
  .logo {
    width: 7rem;
  }

  .nav-menu {
    display: flex;
    gap: 1rem;
  }

  .admin-link button {
    background-color: transparent;
    border: none;
    color: #9e2d2d;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
    transition: color 0.3s ease;
  }
  
  .admin-link button:hover {
    color: #d43f3f;
  }
  
  .profile-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .avatar {
    cursor: pointer;
  }

  .avatar:hover {
    color: #9e2d2d;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    right: -3.5rem;
    top: 2.5rem;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 6px;
    width: 9rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .profile-menu:hover .dropdown {
    display: flex;
    flex-direction: column;
  }

  .profile-menu:has(.dropdown:hover) .avatar {
  color: #9e2d2d;
}

  
  .dropdown button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    color: black;
    text-align: center;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: #9e2d2d;
    color: white;
  }
  
  .welcomeMain {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    text-align: center;
    margin-top: 3rem;
    color: black;
  }

  .column2 {
    grid-column: 2; /* Segunda columna, la del medio */
    text-align: center;
  }
  
  .center {
    text-align: center;
    margin-top: 3rem;
    color: white;
  }
  